#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.btn-search{
  background-color: coral;
}
.header{
  background-color: coral;

}
.neighborhood-photo{
  height: 400px;
  width: 600px;
}
.App{
  background-color: lightgrey;

}
.first-heading{
  font-family: "Bitstream Charter"   ;
  background-color: darksalmon;
  height: 60px;
  width: 300px;
  position: absolute;
  color: white;
}
