#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;


}
/*.card {
  padding: 2em;
}*/


.header{
  height: 720px;
  border-radius: 5px;
  background-image: url('assets/city-1681895072182-235.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.App{
  background-color: lightgrey;

}
.first-heading{
  font-family: Serif   ;
  height: 100px;
  width: 100px;
  position: absolute;
  color: white;
  margin-right: 50px;
  background-color: rgba(255, 0, 0, 0.5);


}
.menu-bar{
  background-color: rgba(129, 129, 129, 0.5);
  height: 56px;
}
.list-components{
  font-family: Serif;
  font-size: 30px;
  display: flex;
  flex-direction: row;
}
.list-components a{
  margin-right: 30px;
}
